In [21]:
#ML steps
#1: Collecting data
#2: Preprocessing the data - using Pandas library
#3: Data Visualization - matplotlib
#4: Label data as X and Y (X is input can have multiple values, Y is the output)
#   X: features, input, independent variable
#   Y: target value, outcome, output, dependent varaible
#5: Split the data for training and testing(75% of data for training and 25% of data for testing)
#6: Machine Learning model(Algorithm)
#7: Train the model with data
#8: Testing the model
#9: Model evaluation

In [22]:
#MACHINE LEARNING
#3 types
#1: Supervised learning - we are supervising the machine
#2: Unsupervised learning - machine will decides what needs to be predicted
#3: Reinforcement learning

In [23]:
#Supervised Learning
#1: Regression - continuous values
#2: Classification - classes
#    Binary classification: Yes or No
#    Multi Class classification: target values will have multiple classes of values

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#reading csv file from pandas
import pandas as pd
df = pd.read_csv(r"C:\Users\riapi\OneDrive\Documents\ipl.csv")
df

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [25]:
#returns top 5 rows
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [26]:
df.columns

Index(['mid', 'date', 'venue', 'bat_team', 'bowl_team', 'batsman', 'bowler',
       'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'striker',
       'non-striker', 'total'],
      dtype='object')

In [27]:
df.shape

(76014, 15)

In [28]:
df.dtypes

mid                 int64
date               object
venue              object
bat_team           object
bowl_team          object
batsman            object
bowler             object
runs                int64
wickets             int64
overs             float64
runs_last_5         int64
wickets_last_5      int64
striker             int64
non-striker         int64
total               int64
dtype: object

In [29]:
#converting string values(object) to numeric values
#preprocessing(encoding) here for bat_team and bowl_team to numeric values

In [30]:
print(df['mid'].unique())
print(" ")
print(df['venue'].unique())
print(" ")
print(df['date'].value_counts())
print(" ")
print(df['bat_team'].unique())
print(" ")
print(df['bowl_team'].unique())

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306
 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324
 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342
 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378
 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396
 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414
 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432
 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450
 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468
 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486
 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504
 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522
 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540
 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558
 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576
 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594
 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612
 613 614 615 616 617]

['M Chinnaswamy Stadium' 'Punjab Cricket Association Stadium, Mohali'
 'Feroz Shah Kotla' 'Wankhede Stadium' 'Eden Gardens'
 'Sawai Mansingh Stadium' 'Rajiv Gandhi International Stadium, Uppal'
 'MA Chidambaram Stadium, Chepauk' 'Dr DY Patil Sports Academy' 'Newlands'
 "St George's Park" 'Kingsmead' 'SuperSport Park' 'Buffalo Park'
 'New Wanderers Stadium' 'De Beers Diamond Oval' 'OUTsurance Oval'
 'Brabourne Stadium' 'Sardar Patel Stadium, Motera' 'Barabati Stadium'
 'Vidarbha Cricket Association Stadium, Jamtha'
 'Himachal Pradesh Cricket Association Stadium' 'Nehru Stadium'
 'Holkar Cricket Stadium'
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium'
 'Subrata Roy Sahara Stadium'
 'Shaheed Veer Narayan Singh International Stadium'
 'JSCA International Stadium Complex' 'Sheikh Zayed Stadium'
 'Sharjah Cricket Stadium' 'Dubai International Cricket Stadium'
 'Maharashtra Cricket Association Stadium'
 'Punjab Cricket Association IS Bindra Stadium, Mohali'
 'Saurashtra Cricket Association Stadium' 'Green Park']

2010-03-25    257
2011-04-22    257
2012-05-20    256
2015-04-25    255
2014-05-14    254
             ...
2014-05-02    103
2008-05-07    103
2008-05-16     98
2012-04-05     74
2015-05-13     63
Name: date, Length: 442, dtype: int64

['Kolkata Knight Riders' 'Chennai Super Kings' 'Rajasthan Royals'
 'Mumbai Indians' 'Deccan Chargers' 'Kings XI Punjab'
 'Royal Challengers Bangalore' 'Delhi Daredevils' 'Kochi Tuskers Kerala'
 'Pune Warriors' 'Sunrisers Hyderabad' 'Rising Pune Supergiants'
 'Gujarat Lions' 'Rising Pune Supergiant']

['Royal Challengers Bangalore' 'Kings XI Punjab' 'Delhi Daredevils'
 'Kolkata Knight Riders' 'Rajasthan Royals' 'Mumbai Indians'
 'Chennai Super Kings' 'Deccan Chargers' 'Pune Warriors'
 'Kochi Tuskers Kerala' 'Sunrisers Hyderabad' 'Rising Pune Supergiants'
 'Gujarat Lions' 'Rising Pune Supergiant']

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mid             76014 non-null  int64
 1   date            76014 non-null  object
 2   venue           76014 non-null  object
 3   bat_team        76014 non-null  object
 4   bowl_team       76014 non-null  object
 5   batsman         76014 non-null  object
 6   bowler          76014 non-null  object
 7   runs            76014 non-null  int64
 8   wickets         76014 non-null  int64
 9   overs           76014 non-null  float64
 10  runs_last_5     76014 non-null  int64
 11  wickets_last_5  76014 non-null  int64
 12  striker         76014 non-null  int64
 13  non-striker     76014 non-null  int64
 14  total           76014 non-null  int64
dtypes: float64(1), int64(8), object(6)
memory usage: 8.7+ MB

In [32]:
columns_to_remove = ["mid", "date", "venue", "batsman", "bowler", "striker", "non-striker"]
print("Before removing unwanted columns: {}".format(df.shape))
df.drop(labels=columns_to_remove, axis=1, inplace=True)
print("After removing unwanted columns: {}".format(df.shape))

Before removing unwanted columns: (76014, 15)
After removing unwanted columns: (76014, 8)

In [33]:
df

,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222
...,...,...,...,...,...,...,...,...
76009,Mumbai Indians,Rising Pune Supergiant,121,7,19.2,40,0,129
76010,Mumbai Indians,Rising Pune Supergiant,127,7,19.3,46,0,129
76011,Mumbai Indians,Rising Pune Supergiant,128,7,19.4,47,0,129
76012,Mumbai Indians,Rising Pune Supergiant,129,7,19.5,48,0,129
76013,Mumbai Indians,Rising Pune Supergiant,129,8,19.6,47,1,129

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#reading csv file from pandas
import pandas as pd
df = pd.read_csv(r"C:\Users\riapi\OneDrive\Documents\ipl.csv")
df

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [35]:
columns_to_remove = ["mid", "venue", "batsman", "bowler", "striker", "non-striker"]
print("Before removing unwanted columns: {}".format(df.shape))
df.drop(labels=columns_to_remove, axis=1, inplace=True)
print("After removing unwanted columns: {}".format(df.shape))

Before removing unwanted columns: (76014, 15)
After removing unwanted columns: (76014, 9)

In [36]:
df

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222
...,...,...,...,...,...,...,...,...,...
76009,2017-05-21,Mumbai Indians,Rising Pune Supergiant,121,7,19.2,40,0,129
76010,2017-05-21,Mumbai Indians,Rising Pune Supergiant,127,7,19.3,46,0,129
76011,2017-05-21,Mumbai Indians,Rising Pune Supergiant,128,7,19.4,47,0,129
76012,2017-05-21,Mumbai Indians,Rising Pune Supergiant,129,7,19.5,48,0,129
76013,2017-05-21,Mumbai Indians,Rising Pune Supergiant,129,8,19.6,47,1,129

In [37]:
df.head()

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222

In [38]:
df.columns

Index(['date', 'bat_team', 'bowl_team', 'runs', 'wickets', 'overs',
       'runs_last_5', 'wickets_last_5', 'total'],
      dtype='object')

In [39]:
df.index

RangeIndex(start=0, stop=76014, step=1)

In [40]:
print(df['bat_team'].unique())
print(df['bowl_team'].unique())

['Kolkata Knight Riders' 'Chennai Super Kings' 'Rajasthan Royals'
 'Mumbai Indians' 'Deccan Chargers' 'Kings XI Punjab'
 'Royal Challengers Bangalore' 'Delhi Daredevils' 'Kochi Tuskers Kerala'
 'Pune Warriors' 'Sunrisers Hyderabad' 'Rising Pune Supergiants'
 'Gujarat Lions' 'Rising Pune Supergiant']
['Royal Challengers Bangalore' 'Kings XI Punjab' 'Delhi Daredevils'
 'Kolkata Knight Riders' 'Rajasthan Royals' 'Mumbai Indians'
 'Chennai Super Kings' 'Deccan Chargers' 'Pune Warriors'
 'Kochi Tuskers Kerala' 'Sunrisers Hyderabad' 'Rising Pune Supergiants'
 'Gujarat Lions' 'Rising Pune Supergiant']

In [41]:
print(df['bat_team'].value_counts())

Mumbai Indians                 10213
Kings XI Punjab                 9219
Chennai Super Kings             9142
Royal Challengers Bangalore     8331
Kolkata Knight Riders           8033
Delhi Daredevils                7152
Rajasthan Royals                6643
Deccan Chargers                 5280
Sunrisers Hyderabad             5216
Pune Warriors                   2448
Gujarat Lions                   1726
Rising Pune Supergiant           994
Kochi Tuskers Kerala             876
Rising Pune Supergiants          741
Name: bat_team, dtype: int64

In [42]:
print(df['bowl_team'].value_counts())

Delhi Daredevils               10245
Royal Challengers Bangalore     9661
Mumbai Indians                  9271
Kolkata Knight Riders           9211
Kings XI Punjab                 8405
Rajasthan Royals                7773
Chennai Super Kings             6497
Deccan Chargers                 3984
Sunrisers Hyderabad             3589
Pune Warriors                   3083
Gujarat Lions                   1970
Rising Pune Supergiant           962
Kochi Tuskers Kerala             736
Rising Pune Supergiants          627
Name: bowl_team, dtype: int64

In [43]:
consistent_teams = ['Mumbai Indians','Kings XI Punjab','Chennai Super Kings','Royal Challengers Bangalore','Kolkata Knight Riders','Delhi Daredevils ','Rajasthan Royals','Sunrisers Hyderabad']
df = df[(df['bat_team'].isin(consistent_teams)) & (df['bowl_team'].isin(consistent_teams))]
print("After removing in consistent teams: {}".format(df.shape))
df

After removing in consistent teams: (39516, 9)

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222
...,...,...,...,...,...,...,...,...,...
75884,2017-05-19,Kolkata Knight Riders,Mumbai Indians,106,9,18.1,29,4,107
75885,2017-05-19,Kolkata Knight Riders,Mumbai Indians,107,9,18.2,29,4,107
75886,2017-05-19,Kolkata Knight Riders,Mumbai Indians,107,9,18.3,28,4,107
75887,2017-05-19,Kolkata Knight Riders,Mumbai Indians,107,9,18.4,24,4,107
75888,2017-05-19,Kolkata Knight Riders,Mumbai Indians,107,10,18.5,23,5,107

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#reading csv file from pandas
import pandas as pd
df = pd.read_csv(r"C:\Users\riapi\OneDrive\Documents\ipl.csv")
df

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [45]:
consistent_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
                     'Mumbai Indians', 'Delhi Daredevils', 'Kings XI Punjab',
                     'Royal Challengers Bangalore' , 'Sunrisers Hyderabad']
df = df[(df['bat_team'].isin(consistent_teams)) & (df['bowl_team'].isin(consistent_teams))]
print("After removing in consistent teams: {}".format(df.shape))
df

After removing in consistent teams: (53811, 15)

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75884,616,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,UT Yadav,SL Malinga,106,9,18.1,29,4,4,1,107
75885,616,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,UT Yadav,SL Malinga,107,9,18.2,29,4,4,2,107
75886,616,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,AS Rajpoot,SL Malinga,107,9,18.3,28,4,4,2,107
75887,616,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,AS Rajpoot,SL Malinga,107,9,18.4,24,4,4,2,107
75888,616,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,AS Rajpoot,SL Malinga,107,10,18.5,23,5,4,2,107

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#reading csv file from pandas
import pandas as pd
df = pd.read_csv(r"C:\Users\riapi\OneDrive\Documents\ipl.csv")
df

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [47]:
consistent_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
                     'Mumbai Indians', 'Delhi Daredevils', 'Kings XI Punjab',
                     'Royal Challengers Bangalore' , 'Sunrisers Hyderabad']
df = df[(df['bat_team'].isin(consistent_teams)) & (df['bowl_team'].isin(consistent_teams))]
print("After removing in consistent teams: {}".format(df.shape))
df

After removing in consistent teams: (53811, 15)

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75884,616,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,UT Yadav,SL Malinga,106,9,18.1,29,4,4,1,107
75885,616,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,UT Yadav,SL Malinga,107,9,18.2,29,4,4,2,107
75886,616,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,AS Rajpoot,SL Malinga,107,9,18.3,28,4,4,2,107
75887,616,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,AS Rajpoot,SL Malinga,107,9,18.4,24,4,4,2,107
75888,616,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,AS Rajpoot,SL Malinga,107,10,18.5,23,5,4,2,107

In [48]:
#removing the first 5 overs data in every match - current over must be greater than 5.0
print("Before removing in consistent teams: {}".format(df.shape))
df = df[df['overs']>=5.0]
print("After removing in consistent teams: {}".format(df.shape))

Before removing in consistent teams: (53811, 15)
After removing in consistent teams: (40108, 15)

In [49]:
df

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
32,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,61,0,5.1,59,0,41,10,222
33,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,Z Khan,61,1,5.2,59,1,41,10,222
34,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,61,1,5.3,59,1,41,0,222
35,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,61,1,5.4,59,1,41,0,222
36,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,61,1,5.5,58,1,41,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75884,616,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,UT Yadav,SL Malinga,106,9,18.1,29,4,4,1,107
75885,616,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,UT Yadav,SL Malinga,107,9,18.2,29,4,4,2,107
75886,616,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,AS Rajpoot,SL Malinga,107,9,18.3,28,4,4,2,107
75887,616,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,AS Rajpoot,SL Malinga,107,9,18.4,24,4,4,2,107
75888,616,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,AS Rajpoot,SL Malinga,107,10,18.5,23,5,4,2,107

In [50]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
32,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,61,0,5.1,59,0,41,10,222
33,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,Z Khan,61,1,5.2,59,1,41,10,222
34,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,61,1,5.3,59,1,41,0,222
35,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,61,1,5.4,59,1,41,0,222
36,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,61,1,5.5,58,1,41,0,222

In [51]:
#converting date from string to Date-Time
from datetime import datetime

print("Before converting : {}".format(type(df.iloc[0,0])))
df['date'] = df['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
print("After converting : {}".format(type(df.iloc[0,0])))

Before converting : <class 'numpy.int64'>
After converting : <class 'numpy.int64'>

C:\Users\riapi\AppData\Local\Temp\ipykernel_20924\1099673204.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [52]:
df.dtypes

mid                        int64
date              datetime64[ns]
venue                     object
bat_team                  object
bowl_team                 object
batsman                   object
bowler                    object
runs                       int64
wickets                    int64
overs                    float64
runs_last_5                int64
wickets_last_5             int64
striker                    int64
non-striker                int64
total                      int64
dtype: object

In [53]:
#Encoding:  converting string values to numerical values
#String values also called as CATEGORICAL VALUES(2 types)
#1: Nominal values: string values but no rank(rank cannot be assigned)
#    ->Onehotencoding - Scikitlearn library
#    ->dummy encoding - Pandas
#2: Ordinal values: has order/rank
#   ->Label encoding - Scikitlearn
#   ->Mapping

#dummy encoding: creates a separate column for unique value, then assign a boolean value

In [54]:
#bat_team and bowl_team are nominal values
#to convert them we use Dummy Encoding

encoded_df = pd.get_dummies(data=df, columns=['bat_team','bowl_team'], dtype=int)
encoded_df

,mid,date,venue,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,...,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
32,1,2008-04-18,M Chinnaswamy Stadium,BB McCullum,Z Khan,61,0,5.1,59,0,...,0,0,0,0,0,0,0,0,1,0
33,1,2008-04-18,M Chinnaswamy Stadium,SC Ganguly,Z Khan,61,1,5.2,59,1,...,0,0,0,0,0,0,0,0,1,0
34,1,2008-04-18,M Chinnaswamy Stadium,RT Ponting,Z Khan,61,1,5.3,59,1,...,0,0,0,0,0,0,0,0,1,0
35,1,2008-04-18,M Chinnaswamy Stadium,RT Ponting,Z Khan,61,1,5.4,59,1,...,0,0,0,0,0,0,0,0,1,0
36,1,2008-04-18,M Chinnaswamy Stadium,RT Ponting,Z Khan,61,1,5.5,58,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75884,616,2017-05-19,M Chinnaswamy Stadium,UT Yadav,SL Malinga,106,9,18.1,29,4,...,0,0,0,0,0,0,1,0,0,0
75885,616,2017-05-19,M Chinnaswamy Stadium,UT Yadav,SL Malinga,107,9,18.2,29,4,...,0,0,0,0,0,0,1,0,0,0
75886,616,2017-05-19,M Chinnaswamy Stadium,AS Rajpoot,SL Malinga,107,9,18.3,28,4,...,0,0,0,0,0,0,1,0,0,0
75887,616,2017-05-19,M Chinnaswamy Stadium,AS Rajpoot,SL Malinga,107,9,18.4,24,4,...,0,0,0,0,0,0,1,0,0,0
75888,616,2017-05-19,M Chinnaswamy Stadium,AS Rajpoot,SL Malinga,107,10,18.5,23,5,...,0,0,0,0,0,0,1,0,0,0

In [55]:
encoded_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40108 entries, 32 to 75888
Data columns (total 29 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   mid                                    40108 non-null  int64
 1   date                                   40108 non-null  datetime64[ns]
 2   venue                                  40108 non-null  object
 3   batsman                                40108 non-null  object
 4   bowler                                 40108 non-null  object
 5   runs                                   40108 non-null  int64
 6   wickets                                40108 non-null  int64
 7   overs                                  40108 non-null  float64
 8   runs_last_5                            40108 non-null  int64
 9   wickets_last_5                         40108 non-null  int64
 10  striker                                40108 non-null  int64
 11  non-striker                            40108 non-null  int64
 12  total                                  40108 non-null  int64
 13  bat_team_Chennai Super Kings           40108 non-null  int32
 14  bat_team_Delhi Daredevils              40108 non-null  int32
 15  bat_team_Kings XI Punjab               40108 non-null  int32
 16  bat_team_Kolkata Knight Riders         40108 non-null  int32
 17  bat_team_Mumbai Indians                40108 non-null  int32
 18  bat_team_Rajasthan Royals              40108 non-null  int32
 19  bat_team_Royal Challengers Bangalore   40108 non-null  int32
 20  bat_team_Sunrisers Hyderabad           40108 non-null  int32
 21  bowl_team_Chennai Super Kings          40108 non-null  int32
 22  bowl_team_Delhi Daredevils             40108 non-null  int32
 23  bowl_team_Kings XI Punjab              40108 non-null  int32
 24  bowl_team_Kolkata Knight Riders        40108 non-null  int32
 25  bowl_team_Mumbai Indians               40108 non-null  int32
 26  bowl_team_Rajasthan Royals             40108 non-null  int32
 27  bowl_team_Royal Challengers Bangalore  40108 non-null  int32
 28  bowl_team_Sunrisers Hyderabad          40108 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(16), int64(8), object(3)
memory usage: 6.7+ MB

In [56]:
encoded_df.columns

Index(['mid', 'date', 'venue', 'batsman', 'bowler', 'runs', 'wickets', 'overs',
       'runs_last_5', 'wickets_last_5', 'striker', 'non-striker', 'total',
       'bat_team_Chennai Super Kings', 'bat_team_Delhi Daredevils',
       'bat_team_Kings XI Punjab', 'bat_team_Kolkata Knight Riders',
       'bat_team_Mumbai Indians', 'bat_team_Rajasthan Royals',
       'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad',
       'bowl_team_Chennai Super Kings', 'bowl_team_Delhi Daredevils',
       'bowl_team_Kings XI Punjab', 'bowl_team_Kolkata Knight Riders',
       'bowl_team_Mumbai Indians', 'bowl_team_Rajasthan Royals',
       'bowl_team_Royal Challengers Bangalore',
       'bowl_team_Sunrisers Hyderabad'],
      dtype='object')

In [57]:
encoded_df = encoded_df[['date','bat_team_Chennai Super Kings', 'bat_team_Delhi Daredevils',
       'bat_team_Kings XI Punjab', 'bat_team_Kolkata Knight Riders',
       'bat_team_Mumbai Indians', 'bat_team_Rajasthan Royals',
       'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad',
       'bowl_team_Chennai Super Kings', 'bowl_team_Delhi Daredevils',
       'bowl_team_Kings XI Punjab', 'bowl_team_Kolkata Knight Riders',
       'bowl_team_Mumbai Indians', 'bowl_team_Rajasthan Royals',
       'bowl_team_Royal Challengers Bangalore',
       'bowl_team_Sunrisers Hyderabad','overs','runs', 'wickets','runs_last_5', 'wickets_last_5',
       'total']]
encoded_df

,date,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,bat_team_Kolkata Knight Riders,bat_team_Mumbai Indians,bat_team_Rajasthan Royals,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,...,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad,overs,runs,wickets,runs_last_5,wickets_last_5,total
32,2008-04-18,0,0,0,1,0,0,0,0,0,...,0,0,1,0,5.1,61,0,59,0,222
33,2008-04-18,0,0,0,1,0,0,0,0,0,...,0,0,1,0,5.2,61,1,59,1,222
34,2008-04-18,0,0,0,1,0,0,0,0,0,...,0,0,1,0,5.3,61,1,59,1,222
35,2008-04-18,0,0,0,1,0,0,0,0,0,...,0,0,1,0,5.4,61,1,59,1,222
36,2008-04-18,0,0,0,1,0,0,0,0,0,...,0,0,1,0,5.5,61,1,58,1,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75884,2017-05-19,0,0,0,1,0,0,0,0,0,...,1,0,0,0,18.1,106,9,29,4,107
75885,2017-05-19,0,0,0,1,0,0,0,0,0,...,1,0,0,0,18.2,107,9,29,4,107
75886,2017-05-19,0,0,0,1,0,0,0,0,0,...,1,0,0,0,18.3,107,9,28,4,107
75887,2017-05-19,0,0,0,1,0,0,0,0,0,...,1,0,0,0,18.4,107,9,24,4,107
75888,2017-05-19,0,0,0,1,0,0,0,0,0,...,1,0,0,0,18.5,107,10,23,5,107

In [58]:
#Splitting the data into train and test set

x_train = encoded_df.drop(labels='total',axis=1)[encoded_df['date'].dt.year <= 2016]
x_test = encoded_df.drop(labels='total',axis=1)[encoded_df['date'].dt.year >= 2017]

y_train = encoded_df[encoded_df['date'].dt.year <= 2016]['total'].values
y_test = encoded_df[encoded_df['date'].dt.year >= 2017]['total'].values

#Removing the 'date' column
x_train.drop(labels='date', axis=True, inplace=True)
x_test.drop(labels='date', axis=True, inplace=True)

print("Training set: {} anf Testing set {} ".format(x_train.shape, x_test.shape))
print("Training set: {} anf Testing set {} ".format(y_train.shape, y_test.shape))

Training set: (37330, 21) anf Testing set (2778, 21)
Training set: (37330,) anf Testing set (2778,)

In [59]:
#Regression
#1: Linear Regression: plot data using scatter plot, find best fitting linear line
#2: Decision Tree Regressor: if and else type
#3: Random Forest Regressor: multiple trees

In [60]:
from sklearn.linear_model import LinearRegression

#model/object
linear_regressor = LinearRegression()

#training
linear_regressor.fit(x_train, y_train)

LinearRegression()

In [61]:
#Predicting results - x_test
#actual value will be in y_test
y_pred_lr = linear_regressor.predict(x_test)
y_pred_lr  #x_test

array([172.07093429, 175.2197967 , 174.61607874, ..., 100.37504751,
        99.80473879,  93.14382211])

In [62]:
#model evaluation
#less mae -> better result

from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse
print("Model Evaluation")
print("Mean Absolute Error(MAE) : {} ".format(mae(y_test,y_pred_lr)))
print("Mean Squared Error(MSE) : {} ".format(mse(y_test,y_pred_lr)))
print("Root Mean Square Erroe(RMSE) : {} ".format(np.sqrt((mse(y_test,y_pred_lr)))))

Model Evaluation
Mean Absolute Error(MAE) : 12.118617546193295
Mean Squared Error(MSE) : 251.0079231041742
Root Mean Square Erroe(RMSE) : 15.8432295667321

In [63]:
#checking score of model
#higher score better results

print("Accuracy of LR on Training set : {:.2f} ".format(linear_regressor.score(x_train,y_train)))
print("Accuracy of LR on Testing set : {:.2f} ".format(linear_regressor.score(x_test,y_test)))

Accuracy of LR on Training set : 0.65
Accuracy of LR on Testing set : 0.75

In [64]:
#Decision Tree

from sklearn.tree import DecisionTreeRegressor

decision_regressor = DecisionTreeRegressor()

#training
decision_regressor.fit(x_train, y_train)

DecisionTreeRegressor()

In [65]:
#prediction
y_pred = decision_regressor.predict(x_test)
y_pred

array([194., 194., 194., ..., 119., 112., 112.])

In [66]:
#model evaluation
from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse
print("Model Evaluation")
print("Mean Absolute Error(MAE) : {} ".format(mae(y_test,y_pred)))
print("Mean Squared Error(MSE) : {} ".format(mse(y_test,y_pred)))
print("Root Mean Square Erroe(RMSE) : {} ".format(np.sqrt((mse(y_test,y_pred)))))

Model Evaluation
Mean Absolute Error(MAE) : 16.838012958963283
Mean Squared Error(MSE) : 523.2001439884809
Root Mean Square Erroe(RMSE) : 22.873568676279636

In [67]:
#checking score
print("Accuracy of LR on Training set : {:.2f} ".format(decision_regressor.score(x_train,y_train)))
print("Accuracy of LR on Testing set : {:.2f} ".format(decision_regressor.score(x_test,y_test)))

Accuracy of LR on Training set : 1.00
Accuracy of LR on Testing set : 0.48

In [68]:
#Random Forest

from sklearn.ensemble import RandomForestRegressor

random_regressor = RandomForestRegressor()
random_regressor.fit(x_train, y_train)

RandomForestRegressor()

In [69]:
#prediction
y_pred = random_regressor.predict(x_test)
y_pred

array([179.84, 179.49, 184.53, ..., 117.57, 115.08, 114.8 ])

In [70]:
#model evaluation
from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse
print("Model Evaluation")
print("Mean Absolute Error(MAE) : {} ".format(mae(y_test,y_pred)))
print("Mean Squared Error(MSE) : {} ".format(mse(y_test,y_pred)))
print("Root Mean Square Erroe(RMSE) : {} ".format(np.sqrt((mse(y_test,y_pred)))))

Model Evaluation
Mean Absolute Error(MAE) : 13.689998740100792
Mean Squared Error(MSE) : 326.4742841609971
Root Mean Square Erroe(RMSE) : 18.068599396771106

In [71]:
#checking score
print("Accuracy of LR on Training set : {:.2f} ".format(random_regressor.score(x_train,y_train)))
print("Accuracy of LR on Testing set : {:.2f} ".format(random_regressor.score(x_test,y_test)))

Accuracy of LR on Training set : 0.99
Accuracy of LR on Testing set : 0.68

In [72]:
#LinearRegression works better for this IPL data-set

#To increase efficiency of LR model: AdaBoost Algorithm

In [73]:
#ADA-BOOST ALGORITHM

from sklearn.ensemble import AdaBoostRegressor
adb_regressor = AdaBoostRegressor(base_estimator = linear_regressor, n_estimators = 100)
adb_regressor.fit(x_train, y_train)

C:\Users\riapi\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

AdaBoostRegressor(base_estimator=LinearRegression(), n_estimators=100)

In [74]:
#prediction
y_pred = adb_regressor.predict(x_test)
y_pred

array([168.81475336, 171.60391472, 171.24010337, ...,  95.59608304,
        95.43810278,  87.3445564 ])

In [75]:
#model evaluation
from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse
print("Model Evaluation")
print("Mean Absolute Error(MAE) : {} ".format(mae(y_test,y_pred)))
print("Mean Squared Error(MSE) : {} ".format(mse(y_test,y_pred)))
print("Root Mean Square Error(RMSE) : {} ".format(np.sqrt((mse(y_test,y_pred)))))

Model Evaluation
Mean Absolute Error(MAE) : 12.162091780406007
Mean Squared Error(MSE) : 247.1571070134263
Root Mean Square Error(RMSE) : 15.721231090898266

In [76]:
#checking score
print("Accuracy of ADB on Training set : {:.2f} ".format(adb_regressor.score(x_train,y_train)))
print("Accuracy of ADB on Testing set : {:.2f} ".format(adb_regressor.score(x_test,y_test)))

Accuracy of ADB on Training set : 0.65
Accuracy of ADB on Testing set : 0.76

In [77]:
#adaboost did not reduce error, therefore LR works better

In [78]:
#Taking values from user to make predictions

def predict_score(batting_team='Chennai Super Kings', bowling_team='Mumbai Indians', overs=5.1, runs=50, wickets=0,run_in_prev_5=0,wickets_in_prev_5=0):
    temp_array = list()
    
    #Batting team
    if batting_team == 'Chennai Super Kings':
        temp_array = temp_array + [1,0,0,0,0,0,0,0]
    elif batting_team == 'Delhi Daredevils':
        temp_array = temp_array + [0,1,0,0,0,0,0,0]
    elif batting_team == 'Kings XI Punjab':
        temp_array = temp_array + [0,0,1,0,0,0,0,0] 
    elif batting_team == 'Kolkata Knight Riders':
        temp_array = temp_array + [0,0,0,1,0,0,0,0]
    elif batting_team == 'Mumbai Indians':
        temp_array = temp_array + [0,0,0,0,1,0,0,0]
    elif batting_team == 'Rajasthan Royals':
        temp_array = temp_array + [0,0,0,0,0,1,0,0] 
    elif batting_team == 'Royal Challengers Bangalore':
        temp_array = temp_array + [0,0,0,0,0,0,1,0]  
    elif batting_team == 'Sunrisers Hyderabad':
        temp_array = temp_array + [0,0,0,0,0,0,0,1]      
        
   #Bowling team
    if bowling_team == 'Chennai Super Kings':
        temp_array = temp_array + [1,0,0,0,0,0,0,0]
    elif bowling_team == 'Delhi Daredevils':
        temp_array = temp_array + [0,1,0,0,0,0,0,0]
    elif bowling_team == 'Kings XI Punjab':
        temp_array = temp_array + [0,0,1,0,0,0,0,0] 
    elif bowling_team == 'Kolkata Knight Riders':
        temp_array = temp_array + [0,0,0,1,0,0,0,0]
    elif bowling_team == 'Mumbai Indians':
        temp_array = temp_array + [0,0,0,0,1,0,0,0]
    elif bowling_team == 'Rajasthan Royals':
        temp_array = temp_array + [0,0,0,0,0,1,0,0] 
    elif bowling_team == 'Royal Challengers Bangalore':
        temp_array = temp_array + [0,0,0,0,0,0,1,0]  
    elif bowling_team == 'Sunrisers Hyderabad':
        temp_array = temp_array + [0,0,0,0,0,0,0,1]  
        
    temp_array = temp_array + [overs,runs,wickets,run_in_prev_5,wickets_in_prev_5]
    
    temp_array = np.array([temp_array])
    print(temp_array)
    
    return int(linear_regressor.predict(temp_array))

In [79]:
#Prediction01
final_score = predict_score(batting_team='Kolkata Knight Riders', bowling_team='Rajasthan Royals', overs=7.3, runs=70, wickets=3,run_in_prev_5=10,wickets_in_prev_5=1)
print("Final predicted is in range {} to {}".format(final_score-10,final_score+5))

[[ 0.   0.   0.   1.   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.
   0.   0.   7.3 70.   3.  10.   1. ]]
Final predicted is in range 157 to 172

C:\Users\riapi\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [80]:
#Prediction02
final_score = predict_score(batting_team='Royal Challengers Bangalore', bowling_team='Chennai Super Kings', overs=7.7, runs=77, wickets=3,run_in_prev_5=7,wickets_in_prev_5=1)
print("Final predicted is in range {} to {}".format(final_score-10,final_score+5))

[[ 0.   0.   0.   0.   0.   0.   1.   0.   1.   0.   0.   0.   0.   0.
   0.   0.   7.7 77.   3.   7.   1. ]]
Final predicted is in range 168 to 183

C:\Users\riapi\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [82]:
#Saving the model

#pickle library is used
import pickle

#open() has two arguments, name of the file, mode of the file

with open('ipl.pkl','wb') as f:
    pickle.dump(linear_regressor,f)